<div id="home-page">
    <div id="bg1">
        <div id="home-left">
            
            <div id="home-left-content">
                <h1>Crime Alert</h1>
                <button mat-flat-button color="warn" [routerLink]="['crime-feed']">Post Feed</button>
                <button mat-flat-button color="warn" [routerLink]="['games']">Other</button>
                <button mat-flat-button color="warn" (click)="doLogout()">Log Out</button>
            </div>
        </div>
        <div id="home-right">
            <div id="home-right-content">
                
            </div>
        </div>
    </div>
</div>