
<div class="text-center">
<br>
<br>

<img src="../../../assets/logo123.png" alt="Crime Alert">

<form [formGroup]="loginForm">
  <label>
    Username:
    <br>
    <input type="text"
           formControlName="username">
    <br>
  </label>
  <br>
  <label>
    Password:
    <br>
    <input type="text"
           formControlName="password"
           type="password">
    <br>
  </label>

  <div *ngIf="loginForm.invalid"
       style="color: red;">Form is not valid</div>

</form>

<br>

<button mat-flat-button color="warn" (click)="doRegister()">Register</button>
<button mat-flat-button color="warn" (click)="doLogin()">Login</button>

<p>{{message}}</p>
</div>